!!!
%html
%head
  %title Forum For Good
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag
%body
  %header.main_header
    #logo
      %p Forum_For_Good
    #buttons
      = link_to "New Post", new_post_path
  .container
    %p.notice= notice
    %p.alert= alert
  .container
    = yield
